.about__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap:15%;

}
.about__me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg,transparent,var(--color-primary),transparent);
    display: grid;
    place-items: center;
}

.about__me-image{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg) ;
    transition: var(--transition);
}

.about__me-image:hover{
    transform: rotate(0deg);
}
.connect{
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-left: 33rem;
    margin-top: -13rem;
}

.btn-primary{
    border: 1px solid var(--color-primary);
    width: 150px;
    height: 50px;
}
button{
    background-color: var(--color-primary);
    color:  black;
    width: 150px;
    height: 50px;
    border-radius: 0.4rem;
    /* margin-left: 50rem; */
    /* bottom: -10rem; */
}

button:hover{
    cursor: pointer;
    transition: var(--transition);
    background-color: var(--color-bg);
    
}
button a:hover{
    color: white;
}
button #resume-button-1{
    color: black;
    font-size: 20px;
   
}

/* ==================================== medium screen ========================== */

@media screen and (max-width:1024px) {
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .connect{
        display: flex;
        gap: 1rem;
        width: 100%;
        margin-left: 15rem;
        margin-top: -4rem;
    }

}

/* ==================================== small screen ========================== */

@media screen and (max-width:600px) {
    .about__me{
        width: 40%;
        /* margin: 0rem auto 3rem; */
    }
    .about__content{
        margin: 1.5rem ;
        width: 80%;
        margin: auto;
    }
    .connect{
        display: flex;
        gap: 1rem;
        width: 100%;
        margin-left: 5rem;
        margin-top: -2rem;
    }

}
