header {
  height: 100vh;
  /* padding-top: 7rem; */
  margin-top: 3%;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* button{
    background-color: var(--color-primary);
    color:  black;
    width: 150px;
    height: 50px;
    border-radius: 0.4rem;
    margin-left:40rem ;
    margin-bottom: -30rem;
    
    
}
button:hover{
    cursor: pointer;
    transition: var(--transition);
    background-color: var(--color-bg);
}
button #resume-button-1{
    color: black;
    font-size: 20px;
} */

/* ======================================= CTA ========================================== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1.3rem;
}

/* .btn-primary {
  border-radius: 0.4rem;
  text-align: center;

  padding-top: 0.5rem;
}
.btn-primary:hover {
  cursor: pointer;
  background: var(--color-primary);
} */

.btn-primary {
  border-radius: 0.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 0.6rem;
}
.btn-primary:hover {
  cursor: pointer;
  background: var(--color-primary);
}

a button {
  overflow: hidden;
  color: black;
  font-size: 20px;
}
a button:hover {
  overflow: hidden;
  font-size: 20px;
  color: white;
  border: 1px solid white;
}

/* ====================================== Header socials ================================== */

.header__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  top: 25rem;
  bottom: 3rem;
}

.header__social::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
  color: black;
}

/* ==================================== home-img ================================================ */

.home-img {
  background: var(--color-primary);
  width: 22rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 2rem;
  overflow: hidden;
  /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}

/* =========================== scroll down ======================================= */

/* ================================= medium screen ==================================*/

@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }
}

/* ================================= small screen ==================================*/

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
}
