nav{
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 3.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    display: flex;
    gap: 2.8rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.8rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover{
    background: var(--color-primary);
}

nav a.active{
    background: var(--color-primary);
    color: var(--color-white);
}



@media screen and (max-width:600px) {
    nav{
        background: rgba(0, 0, 0, 0.3);
        width: max-content;
        display: block;
        padding: 0.5rem 3rem;
        z-index: 2;
        position: fixed;
        left: 50%;
        bottom: 2rem;
        transform: translateX(-50%);
        display: flex;
        gap: 2rem;
        border-radius: 0.5rem;
        backdrop-filter: blur(15px);
    }
}